/*main*/
body.select-data{background: url(../img/main_bg.jpg) no-repeat center top fixed;}
.wrapper{width: 990px; margin:0 auto;}
.type-list li i,
.weibo-bd .step1 li i,
.self-bd .step1 .upload-select li i,
.myfriend-list .tab-bd .item-bd .page-btn span i,
#ui-monthpicker-div .ui-datepicker-prev span,
#ui-monthpicker-div .ui-datepicker-next span,
.uploadify .uploadify-button span,
.login .con .info .btn-list li a,
#J_checkbtn,
#J_myFriendTab .selected .arrow
{
	background: url(../img/main_sprite.png) no-repeat;
}
/*component*/
/*dialogMyFriend*/
.dialogMyFriend .ui-widget-header .ui-dialog-titlebar-close{background-color: #81A102;}
/*dialogLogin*/
.dialogLogin{background: url(../img/alpha_bg.png);}
.dialogLogin .login-box{padding: 20px 20px 0;}
/*monthpicker*/
#ui-monthpicker-div{border-radius: 0; width: 180px; background-color: #FFF;}
#ui-monthpicker-div .ui-widget-header{background: none; border: none; border-bottom: 1px solid #B2B2B2; border-radius: 0; margin-bottom: 8px; padding-bottom: 5px;}
#ui-monthpicker-div .ui-datepicker-prev, #ui-monthpicker-div .ui-datepicker-next{border-radius: 0; background-color: #7DA409; cursor: pointer;}

#ui-monthpicker-div .ui-datepicker-prev-hover, #ui-monthpicker-div .ui-datepicker-next-hover{top:2px; border:none;}
#ui-monthpicker-div .ui-datepicker-prev-hover{left: 2px;}
#ui-monthpicker-div .ui-datepicker-next-hover{right: 2px;}
#ui-monthpicker-div .ui-datepicker-prev span, #ui-monthpicker-div .ui-datepicker-next span{
	background-position: -130px -70px; width: 9px; height: 11px;
	margin-left: -6px; margin-top: -6px;
}
#ui-monthpicker-div .ui-datepicker-next span{background-position: -145px -70px; margin-left: -3px;}
#ui-monthpicker-div .ui-state-default{background: #FFF; border-color: #EAEAEA; color: #9D9D9D; font-weight: normal;}
#ui-monthpicker-div .ui-state-hover{background: none; border-radius: 0; background-color: #7DA409; color: #FFF;}
#ui-monthpicker-div .ui-state-active{background: #7DA409; border-color: #7DA409; color: #FFF;}
#ui-monthpicker-div td a{cursor: pointer;}

/*Uploadify*/
.uploadify {
	position: relative;
	float: left;
}
.uploadify-button{
	background-color: #FFF;
}
.uploadify:hover .uploadify-button {}
.uploadify .uploadify-button span{
	width: 50px;
	height: 50px;
	background-position: -250px 0;
	display: block;
	float: left;
	margin: 17px 0 0 17px;
	text-indent: -9999px;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	margin-top: 5px;
	max-width: 515px;
	/*padding: 10px;*/
}
.uploadify-error {
	display: none;
}
.uploadify-queue-item .cancel a {
	background: url('../img/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress, .uploadify-progress-bar, .uploadify-progress-bar span{
	background: url(../img/progress.png) no-repeat;
}
.uploadify-progress {
	margin: 10px 0 8px;
	width: 511px;
	height: 19px;
	padding: 2px;
}
.uploadify-progress-bar {
	background-position: 0 -30px;
	height: 15px;
	width: 12px;
	position: relative;
}
.uploadify-progress-bar span{
	background-position: -509px -50px;
	background-color: #FFF;
	width: 7px;
	height: 15px;
	position: absolute;
	right: 0px;
	top: 0px;
}





/*header*/
.login .header{width: 100%; position: absolute; right: 10px; top:10px; z-index:222;}
.login .header .brand h2{margin-left: 20px;}
.login .footer{position: absolute; bottom:0; left: 0;}
/*content*/
.content{position: relative;}

/*login*/
.login .content{width: 700px; min-height: 700px; height: 100%; margin: auto;position: static;}
.login .con{width: 700px; height: 700px; position: absolute; top: 50%; margin-top: -350px; border: 1px solid; background: url(../img/index_bg_con.png) no-repeat left 50px; border:none;}
.login .con .info{position: absolute; bottom: 30px; left: 0;}
.login .con .info h1{font-size: 14px; font-weight: normal;}
.login .con .info .en{font-size: 20px;}
.login .con .info .en-saying{font-size: 11px;}
.login .con .info .btn-list li{margin-top: 10px;}
.login .con .info .btn-list li a{display: block; width: 200px; height: 57px; background-position: 0 -100px; text-decoration: none; font-size: 24px; line-height: 57px; color: #FFF; text-align: center;}
.login .con .info .btn-list .self a{background-position: 0 -165px;}
.login-box{color: #FFF;}
.login-box h2{margin-bottom: 20px; font-size:20px}
.login-box ul li{float: left; margin-right: 20px;}
.login-box li a{border: 3px solid #C90A0B; display: block;}
.login-box .tencent a{border-color: #128ABC;}
.login-box li a:hover{border-color: #FFF;}
.login-box p{color: #7B7B7B; display:block; clear:both; padding: 15px 0 10px; *padding: 5px 0 20px;}

/*type*/
.type-list{width: 230px; float: left;}
.type-list li{width: 228px; height: 91px; border: 2px solid #D4CFC9; background-color: #D4CFC9; margin-bottom: 10px; *margin-bottom: 5px; cursor: pointer; padding-top: 35px; color: #FFF;
}
/*.type-list li:hover{border-color: #EEE;
	-webkit-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3); 
	-moz-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3); 
	box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3);}*/
.type-list .selected{background-color: #7DA409; border-color: #7DA409;
	-webkit-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3); 
	-moz-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3); 
	box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.type-list .selected:hover{border-color: #7DA409;}
.type-list li i{width: 84px; height: 64px; display: block; float: left; margin-left: 13px;}
.type-list li .title{float: left; width: 112px; margin-left: 9px;}
.type-list li .title .cn{display: block; font-size: 28px;}
.type-list li .title .en{display: block; font-size: 10px;}
.type-list li .title .des{font-size: 14px; line-height: 16px;}
.type-list li .title i{width: 17px; height: 17px; background-position: 0 -70px; float: right; margin: 10px 10px 0 0; display: none;}
.type-list .selected .title i{display: block;}
/*step*/
.step-list{ width: 750px; float: left; margin-left: 10px;}
.step-list .step-num{float: left; *position: relative; *left: 10px;}
.step-list .step{margin-bottom: 10px;}
.step-list .step li{display: none; width: 140px; height: 115px; background-color: #FFF; cursor: pointer; color: #7FA709; padding-top: 15px; text-align: center;}
.step-list .step-num li:hover{background-color: #C8D29E;}
.step-list .step-num li.selected{background-color: #7DA409;}

.step-list .step li:hover, .step-list .step-num li.selected, 
.step-list .step li:hover .tip, .step-list .step-num li.selected .tip,
.step-list .step li:hover .select-txt, .step-list .step-num li.selected .select-txt{color: #FFF;}
.step-list .step .num{font-size: 48px; display: block;}
.step-list .step .tip{color:#000; display: block; font-size: 16px; margin-bottom: 2px;}
.step-list .step .select-txt{color:#91908C; font-family: \5b8b\4f53;}
.step-list .step .step-btn{width: 140px; height: 55px; background-color: #4D4337; padding: 0; color: #FFF; opacity: .7; filter:alpha(opacity=70); font-size: 24px; line-height: 50px;}
.step-list .step .step-btn:hover{background-color: #4D4337; opacity: 1; filter:alpha(opacity=100);}
.step-list .step-bd{float: left; margin-left:8px; height: 625px; *position: relative; *left: 18px;}
.step-list .step-bd .weibo-bd, .step-list .step-bd .self-bd{display: none; width: 600px;}
.step-list .step-bd li{display: none; height: 130px; background: url(../img/alpha_bg_green.png); margin-bottom: 10px;}
.step-list .step-bd li.selected{display: block;}
.step-list .step-bd li.moving div,
.step-list .step-bd li.moving span,
.step-list .step-bd li.moving input,
.step-list .step-bd li.moving ul,
.step-list .step-bd li.moving .tip,
.step-list .step-bd .book-name.moving .tip,
.step-list .step-bd .book-name.err.moving .err-tip{
	display: none;
}
/*book name*/
.step-list .step-bd .book-name{color: #FFF;}
.step-list .step-bd .book-name input{margin: 35px 0 0 40px; border:2px solid #DCDDD8; height: 30px; width: 400px; line-height: 24px; padding: 0 5px; font-size: 24px; color: #666;}
.step-list .step-bd .book-name .tip{display: block; margin: 10px 0 0 40px;}
.step-list .step-bd .book-name .err-tip{display: none;}
.step-list .step-bd .book-name.err input{border-color: #ff4800;}
.step-list .step-bd .book-name.err .tip{display: none;}
.step-list .step-bd .book-name.err .err-tip{display: block; color: #ff4800;}

/*weibo book*/
.step-weibo .step .weibo-step{display: block;}
.step-weibo .step-bd .weibo-bd{display: block;}
.step-list .step-bd ul{position: relative;}
.step-list .step-bd .step-info{position: absolute; left: 0; width: 600px;}
.step-list .step-bd .step1{top:0;}
.step-list .step-bd .step2{top:140px;}
.step-list .step-bd .step3{top:280px;}
.step-list .step-bd .step4{top:420px;}
/*select-type*/
.step-bd .select-type ul{top:10px; left: 15px;}
.step-bd .select-type li{border: 4px solid #E1E1E1; width: 232px; height: 102px; background-color: #E1E1E1; cursor: pointer; background-image: none; display: block; float: left; margin-right: 20px;}
.step-bd .select-type li img{float: left; margin: 5px 20px;}
.step-bd .select-type li .info{padding-top: 15px; float: left; width: 110px;}
.step-bd .select-type li .info h4{font-size: 14px; margin-bottom: 5px;}

.weibo-bd .step1 ul{top:15px; left: 15px;}
.weibo-bd .step1 li{background: none; height: auto; margin: 0; display: block;}
.weibo-bd .step1 li{width: 92px; height: 92px; border: 4px solid #FFF; display: inline-block; background-color: #FFF; text-decoration: none; color: #FFF; text-align: center; margin: 0 20px 0 0; position: relative; float: left; cursor: pointer;}
.weibo-bd .step1 li:hover, .weibo-bd .step1 li.selected, .weibo-bd .step2 li:hover, .weibo-bd .step2 li.selected{border-color:#6b8f00;}
.weibo-bd .step1 li i, .self-bd .step1 .upload-select li i{background-position: -190px 0; width: 50px; height: 50px; display: block; margin: 15px auto 12px;}
.weibo-bd .step1 li span{display: block; background-color: #333; position: absolute; bottom: 0; left: 0; width: 92px; overflow: hidden;}
.weibo-bd .step1 li .info{ display:none}
.weibo-bd .step1 li img{position: absolute; width: 92px; height:92px; left: 0; top: 0;}

.step-list .weibo-bd .step3{color: #FFF; font-size: 16px;}
.weibo-bd .step3 input{border:1px solid #DCDDD8; border-radius: 3px;}
.weibo-bd .step3 .time-range{float: left; margin: 55px 0 0 35px;}
.weibo-bd .step3 .time-range input{border:1px solid #DCDDD8; text-align: center; height: 26px; font-size: 18px; line-height: 18px; *line-height: 26px; line-height: 26px \0; color: #666; width: 120px;}
.weibo-bd .step3 .has-forward{float: left; margin: 60px 0 0 20px;}
.weibo-bd .step3 .has-forward input{border:none;}
.weibo-bd .step3 .time-range .tip{display: none;}
.weibo-bd .step3 .err-tip{display: none;}
.weibo-bd .step3.err .time-range input{border-color:#ff4800;}
.weibo-bd .step3.err .err-tip{display: block; font-size: 12px; color: #ff4800; clear: both; margin-left: 35px; padding-top: 5px;}

.dialogMyFriend .myfriend-list{padding-left:80px; padding-top:20px;}
.myfriend-list .tip{ float:right; padding-right:87px;}
.myfriend-list .tip .title{font-size: 16px; color: #81A102; margin-bottom: 3px;}
.myfriend-list .tip .agree{ float:right}
.myfriend-list .tip .agree input{margin-right: 5px;}
.myfriend-list .tip .agree a{ margin-left:8px; text-decoration:underline}
.myfriend-list .tab-hd{color: #FFF; margin-top: 25px; margin-left:12px; width:880px}
.myfriend-list .tab-hd li{width: 198px; height: 37px; background-color: #BFBFBF; float: left; font-size: 16px; line-height: 23px; text-align: center; margin-right: 3px; cursor: pointer; line-height:37px;}
.myfriend-list .tab-hd li.selected{background-color: #81A102; position: relative }
.myfriend-list .tab-bd{clear: both;}
.myfriend-list .tab-bd .item-bd{position: relative; display: none;}
.myfriend-list .tab-bd .selected{display: block;}
.myfriend-list .tab-bd .item-bd .page-btn{position: absolute; right: 25px; top: 27px; height: 250px; overflow-y: hidden;}
.myfriend-list .tab-bd .item-bd .page-btn span{width: 23px; height: 120px; background-color: #7ea50c; display: block; margin-bottom: 10px; cursor: pointer; filter:alpha(opacity=80);-moz-opacity:0.8;}
.myfriend-list .tab-bd .item-bd .page-btn span:hover{ background-color: #b1c96b;filter:alpha(opacity=50);-moz-opacity:0.5;}
.myfriend-list .tab-bd .item-bd .page-btn span i{width: 14px; height: 30px; display: block; background-position: -78px -65px; float: left; margin: 49px 0 0 4px;}
.myfriend-list .tab-bd .item-bd .page-btn .next i{background-position: -105px -65px;}
.myfriend-list .tab-bd .item-bd .list-con{width: 850px; height: 375px; overflow: hidden;}
.myfriend-list .tab-bd .item-bd .list-con .Init-info{ padding-left:10px;}
.myfriend-list .tab-bd .item-bd .user-list{width: 850px;}
.myfriend-list .tab-bd .item-bd .user-list ul{width: 863px; float: left; margin-left:-13px; margin-top:10px;}
.myfriend-list .tab-bd .item-bd .user-list li{float: left; cursor: pointer; }
.myfriend-list .tab-bd .item-bd .user-list li .list_img{ border: 3px solid #FFF; padding: 6px; width: 120px; margin:5px 16px}
.myfriend-list .tab-bd .item-bd .user-list li:hover .list_img, .myfriend-list .tab-bd .item-bd .user-list li.selected{border-color: #81A102;}
.myfriend-list .tab-bd .item-bd .user-list li img{width: 120px; height: 120px;}
.myfriend-list .tab-bd .item-bd .user-list li span{display: block; text-align: center; line-height:35px; max-width:120px; 
white-space:nowrap; 	
text-overflow:ellipsis; 
overflow: hidden; 
}
.myfriend-list .tab-bd .item-bd .user-list li .info ul{ width:120px; margin:0 25px 35px 25px; padding:8px 0}
.myfriend-list .tab-bd .item-bd .user-list li .info ul li{ margin:0; padding:0; border:0; width:120px;}


/*self book*/
.step-self .step .self-step{display: block;}
.step-self .step-bd .self-bd{display: block;}

.type-list .self.selected, .type-list .self.selected:hover{background-color: #EB6333; border-color: #EB6333;}
.step-self .self-bd .select-type li.selected{border-color: #DC4D19;}
.type-list .self i{background-position: -90px 0; width: 86px; height: 60px;}
.type-list .self .title .cn{font-size: 24px;}
.step-list .step .self-step{color: #EB622E;}
.step-list .step .self-step:hover{background-color: #EB916E;}
.step-list .step-num .self-step.selected{color: #FFF;}
.step-list .step-num .self-step.selected{background-color: #EB6333;}
.step-list .step .self-step.step-btn{color: #FFF;}
.step-list .step .self-step.step-btn:hover{background-color: #4D4337}
.step-list .step-bd .self-bd li{background-image: url(../img/alpha_bg_red.png);}
.step-self .self-bd .select-type ul{top: 16px;}
.step-self .self-bd .select-type li{background-image: none; width: 276px; height: 92px;}
.step-self .self-bd .select-type li img{margin: 8px 35px 8px 12px;}
.step-self .self-bd .select-type li .info{padding-top: 8px;}
.step-self .self-bd .select-type li.type-vertical{width: 229px; height: 92px;}
.step-list .self-bd .book-name.err input{border-color: #a00b0b;}
.step-list .self-bd .book-name.err .err-tip{color: #a00b0b;}

.search{ border:#7da408 solid 2px; width:375px; height:26px; float:left; margin-left:12px; margin-top:5px; padding:6px 4px 0px;}
.search span{ float:right; color:#7da408; font-weight:bold}
.search input{ border:0; width:320px; float:left}
.search span{ border-left:#7da408 1px solid; padding:0px 5px}
#J_checkbtn{ background-position: -155px -70px; height:16px; width:30px; cursor:pointer}
#J_img{ padding-top:150px; padding-left:365px}
.loading-search{ text-align:center; padding-top:100px;width:800px;}
.emptyInfo{ float:left; color:#F00;  margin-top:24px; padding-left:10px;}
#J_myFriendTab .selected .arrow{ background-position: -190px -70px;position: absolute; top:29px; left:92px; height:10px; width:16px; display:block}
.span-center{ display:block; text-align:center; width:800px; padding-top:20px;}